.main {
    margin: 0 8px;
}

.card {
    border-radius: 4px;
    padding: 0px 12px;

    &.all {
        padding: 4px;
    }
}

.btn {
    border-radius: 4px;
    padding: 4px;

    &.square {
        min-width: 24px;
        min-height: 24px;
    }
}

.scale {
    & trough {
        min-width: 42px;
        min-height: 4px;

        border-radius: 2px;
    }

    & trough highlight,
    trough progress {
        min-height: 4px;
        border-radius: 2px;
    }
}
